<h1 class="h3 mb-2 text-gray-800">
  <%= Admin.model_name.human.pluralize(@admins) %>
</h1>

<p class="mb-4">Beware. You are indeed allowed to edit or delete users. </p>

<%= ajax_datatable *User.datatable(%w[id email created_at updated_at]) %>
