<h1 class='h3 mb-2 text-gray-800'>
  <%= model_on_count(@users) %>
</h1>

<p class='mb-4'>Beware. You are indeed allowed to edit or delete users. </p>

<%= ajax_datatable *User.datatable(view_context: self) %>
